<h2 mat-dialog-title>Edit Item</h2>
<mat-dialog-content class="dialog-form">
  <mat-form-field class="filter-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" value="{{ data.name }}" />
  </mat-form-field>
  <mat-form-field class="filter-field">
    <mat-label>Description</mat-label>
    <input matInput type="text" value="{{ data.description }}" />
  </mat-form-field>
  <mat-form-field class="filter-field">
    <mat-label>Unit</mat-label>
    <input matInput type="text" value="{{ data.unit }}" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button color="primary">Save</button>
</mat-dialog-actions>
