<header>
  <h1>{{ title }}</h1>
</header>

<section class="actions">
  <h3>Quick Actions</h3>
  <div class="actions-buttons">
    <button mat-raised-button aria-label="aquire inventory">
      <mat-icon fontSet="material-icons-outlined">inventory</mat-icon>
      <br />
      Aquire
    </button>
    <button mat-raised-button aria-label="issue inventory">
      <mat-icon fontSet="material-icons-outlined">inventory_2</mat-icon><br />
      Issue
    </button>
    <button mat-raised-button aria-label="change warehouse">
      <mat-icon fontSet="material-icons-outlined">other_houses</mat-icon><br />
      Change
    </button>
    <button mat-raised-button aria-label="settings">
      <mat-icon fontSet="material-icons-outlined">settings</mat-icon><br />
      Settings
    </button>
  </div>
</section>
