<h2 mat-dialog-title>Send Item</h2>
<mat-dialog-content class="dialog-form">
  <mat-form-field class="filter-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" value="{{ this.data.name }}" disabled />
  </mat-form-field>
  <mat-form-field class="filter-field">
    <mat-label>Description</mat-label>
    <input matInput type="text" value="{{ this.data.description }}" disabled />
  </mat-form-field>
  <mat-form-field class="filter-field">
    <mat-label>Quantity</mat-label>
    <input
      matInput
      type="number"
      min="1"
      max="{{ this.data.quantity }}"
      [formControl]="sendQuantity"
      required
    />
    <mat-error *ngIf="sendQuantity.value! < 1"
      >please enter a number more than 0</mat-error
    >
    <mat-error *ngIf="sendQuantity.value! > this.data.quantity"
      >must have sufficient quantity</mat-error
    >
  </mat-form-field>
  <mat-form-field class="filter-field">
    <mat-label>Unit</mat-label>
    <input matInput type="text" value="{{ data.unit }}" disabled />
  </mat-form-field>
  <mat-form-field class="filter-field">
    <mat-label>Date</mat-label>
    <input matInput type="date" [formControl]="date" />
    <mat-error>please select a date</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-button color="primary" (click)="send()">Save</button>
</mat-dialog-actions>
